name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy locally on VM
        run: |
          set -e
          cd /home/raygama/rizzy-bytes/project
          git pull origin main
          docker compose -f docker-compose.light.yml up -d --build
          docker compose -f docker-compose.light.yml restart nginx
